.MuiDrawer-paperAnchorDockedLeft {
  border-right: 0 !important;
}
.MuiAppBar-colorPrimary {
  background-color: rebeccapurple !important;
}
.MuiPaper-root {
  background-color: rebeccapurple !important;
  color: white !important;
}
