.learningProgressWrapper {
  -webkit-box-shadow: 0.5px 0.5px 5px 1px #ccc;
  -moz-box-shadow: 0.5px 0.5px 5px 1px #ccc;
  box-shadow: 0.5px 0.5px 5px 1px #ccc;
}

.makeStyles-root-18 {
  max-width: 46ch !important;
}