.guideTitle {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 41px;
  color: #000000;
}
.guides {
  p {
    margin-block-start: 0;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 20px;
    color: #000000;
  }
}
