.headerWrapper {
    margin: 0 auto;
    padding: 1.45rem 5.0875rem;
}
.authInputWrapper {
    padding-right: 220px !important;
}
.menuItemWrapper {
    padding-right: 120px !important;
}
.menuItem {
    font-size: 17px !important;
    color: white !important;
    font-weight: lighter;
    padding: 0 5px;
}
.menuItem:hover {
    color: rgb(220, 231, 63) !important;
}
.pathWrapper {
    background-color: rgb(104, 69, 139) !important;
    color: white !important;
}
@media only screen and (max-width: 678px) {
    .headerWrapper {
        padding: 1.05rem 2.0875rem;
    }
    .authInputWrapper {
        padding-right: 50px !important;
    }
    .headerTitle {
        padding-top: 17px !important;
        font-size: 22px !important;
    }
    .menuItemWrapper {
        padding-right: 10px !important;
    }
}

@media only screen and (max-width: 478px) {
    .headerWrapper {
        padding: 0.95rem 1.0875rem;
    }
    .authInputWrapper {
        padding-right: 0px !important;
    }
}
