@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

.authInputWrapper {
  display: flex;
  padding: 4rem 5rem 0;
  font-family: "Nunito", sans-serif;
}
.loginInput {
  width: 50%;
  padding: 6%;
}
.authInputs {
  width: 50%;
  margin-top: 5rem;
}
.authTitle {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #000000;
  margin-bottom: 0;
  .authTitleEnd {
    color: #4b4343;
  }
}
.authSubTitle {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  padding-left: 2rem;
}
.authSubTitle-text {
  color: #69696b;
}
.applySubTitle {
  color: #e2e2e2;
}
.actionButtonWrapper {
  width: 100%;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
}
.authButton {
  background-color: #663399 !important;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.65) !important;
  border-radius: 3px !important;
  font-family: Nunito !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 18px !important;
  line-height: 20px !important;
  text-transform: capitalize !important;
  color: #ffffff !important;
}
.actionButton-link {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 18px;
  color: #7d07f2;
}
.actionButton-link1 {
  padding-right: 1rem;
}
.actionButton-link2 {
  padding-left: 1rem;
}

@media (max-width: 768px) {
  .loginInput {
    display: none !important;
  }
  .authInputs {
    width: 99%;
    padding-left: 1rem;
  }
  .authInputWrapper {
    display: inline;
    padding: 0;
    background-color: red;
  }
  .actionButtonWrapper {
    width: 110%;
  }
}
